---
---
<header class="nav">
  <div class="wrap nav-inner">
    <a class="brand" href="#"><span class="mark"></span><span>Traceopt</span></a>
    <nav class="primary">
      <a href="#process"><span class="num">01</span>Process</a>
      <a href="#result"><span class="num">02</span>Result</a>
      <a href="#contact"><span class="num">03</span>Contact</a>
    </nav>
    <div class="nav-right">
      <a href="#datasheet" class="btn btn-ghost">Datasheet · PDF</a>
      <a href="#contact" class="btn btn-primary">Send brief</a>
    </div>
  </div>
</header>
